{{!-- all -- using for each to parse what is in blogpost object --}}
 {{#each blog_posts as |post|}}
 <div class="blogpost-card">
   <div>
      <!-- -->
      <h3 class="blogpost-card-header">
        {{post.title}}
        {{post.user.username}}
        {{post.date_updated}}
      </h3>
        {{post.contents}} 
    </div>
  </div>
  {{/each}}