{{!-- for each to parse what is in blodpost object --}}
<div class="blogpost-card">
    {{#each blog_posts[0] as |post|}}
  </div>
   <div class="dish col-md-5">
      <!-- We use dish.id instead of <od> and <li> elements. -->
      <p>
        {{post.id}}
        {{post.title}}
        {{post.content}}
        {{post.date}}
      </p>
    </div>
