<div class="blogpost-card">
   <div class="col-md-5">
      <p></p> <textarea name="" id="" cols="30" rows="10"> {{post.title}}</textarea>
       
     
       <p>
           <textarea>  {{post.contents}} </textarea>
       </p>

         <button>save</button>